@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
// // font-family: "Lato", sans-serif;


@font-face {
  font-family: 'Miller_Banner_Bold';
  src: url('../fonts/Miller_Banner_Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Miller_Banner_Regular';
  src: url('../fonts/Miller_Banner_Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Miller_Banner_Regular_Italic';
  src: url('../fonts/Miller_Banner_Regular_Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
