footer.footer {
    background: #fff;
    padding: 20px 0 0 0;

    nav {
        margin-bottom: 20px;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;

            li {
                margin: 0 12px;

                a {
                    text-decoration: none;
                    color: #121212;
                    font-size: 14px;
                    position: relative;

                    &::after {
                        content: '';
                        display: inline-block;
                        height: 1px;
                        width: 0;
                        position: absolute;
                        left: 0;
                        bottom: -5px;
                        background: #121212;
                        transition: 0.3s;
                    }

                    &:hover {
                        &::after {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.footer__topsect {
    padding-bottom: 25px;
}

.footer__logo {
    display: inline-block;
    margin-bottom: 20px;

    img {
        max-width: 187px;
        vertical-align: top;
    }
}

.sociallist {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        margin: 0 6px;

        img {
            width: 32px;
            border-radius: 50%;
            transition: 0.3s;
        }

        a {
            transition: 0.3s;

            &:hover {
                opacity: 0.7;
            }
        }
    }

}

.footer__botsect {
    background: #121212;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    p {
        margin: 0;
        color: #fff;
        font-size: 14px;
    }
}

@media(max-width:1199.8px) {
    .footer__logo {
        margin-bottom: 10px;
    }

    footer.footer nav {
        margin-bottom: 15px;
    }

    .footer__topsect {
        padding-bottom: 20px;
    }
}

@media(max-width:575.8px) {
    footer.footer nav ul {
        display: block;
        li {
            display: block;
            margin: 0 0 5px 0;
        }
    }
}



