.herosection {
    position: relative;
    overflow: hidden;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        position: absolute;
        left: 0;
        top: 0;
    }

    .container {
        position: relative;
        z-index: 2;
    }

    h1 {
        text-align: center;
        color: #121212;
        font-family: 'Miller_Banner_Bold';
        font-weight: 700;

        &:last-child {
            margin-bottom: 0;
        }

        span {
            font-family: 'Miller_Banner_Regular_Italic';
            font-style: italic;
            font-weight: 400;
        }
    }
}

.aboutsect {
    padding: 100px 0 188px;

    h3 {
        max-width: 418px;
        margin-bottom: 28px;
    }

    .spaceleftbox {
        padding-left: 110px;
    }

    p {
        color: #fff;
        margin-bottom: 16px;


        &:last-child {
            margin-bottom: 0;
        }
    }

    .description {
        padding-bottom: 15px;
        position: relative;
        padding-top: 30px;

        .star1 {
            position: absolute;
            right: 32px;
            top: 0;
            animation: move 3s infinite;
            animation-delay: 0.5s;
            width: 55px;
            top: -50px;
        }

        .star2 {
            position: absolute;
            left: 0;
            bottom: 30%;
            animation: move 3s infinite;
        }
    }
}

.aboutsect-radimgwrap {
    border-radius: 500px 500px 0 0;
    border: 1px solid rgba(#fff, 0.7);
    height: 414px;
    width: 304px;
    position: relative;
    display: inline-block;

    .imgwrap {
        border-radius: 500px 500px 0 0;
        width: 304px;
        overflow: hidden;
        position: relative;
        margin-left: 24px;
        margin-top: -22px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }

    .circletext {
        width: 215px;
        position: absolute;
        right: -137px;
        bottom: -88px;
        -webkit-animation: rotatean 12s linear infinite;
        animation: rotatean 12s linear infinite;
    }

}

.transformation {
    min-height: 405px;
    position: relative;
    overflow: hidden;
    padding: 62px 0;

    .container {
        position: relative;
        z-index: 1;
    }

    h2 {
        margin-bottom: 32px;
    }

    h3 {
        margin-bottom: 32px;
    }

    p {
        color: #fff;
    }

    .btnsgroup {
        margin-top: 32px;
        margin-bottom: 0;
    }
}

.transformation__bg {
    opacity: 0.4;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    position: absolute;
    left: 0;
    top: 0;
}

.acrcol {
    text-align: center;
}

// me
.aboutsect {
    h2 {
        margin-bottom: 23px;
        max-width: 430px;
    }
}

.aboutsect.aboutsect_me {
    padding: 75px 0;

    .description .star1 {
        top: -50px;
        right: initial;
        left: -100px;
    }

    .description .star2 {
        top: 0;
        right: 10%;
        left: initial;

    }

    p {
        max-width: 520px;
    }

    .imgwrap {
        img {
            vertical-align: top;
        }
    }

}

.transformation.transformation_me {
    display: flex;
    align-items: center;

    .transformation__bg {
        opacity: 0.1;
    }
}

.labeltext {
    width: 207px;
    height: 101px;
    background: url('../img/about/elipse.png') no-repeat center / 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    span {
        text-transform: uppercase;
        color: #fff;
        font-size: 16px;
    }
}

@media(max-width:1399.8px) {
    .herosection {
        height: auto;
        padding: 30px 0;
        min-height: 300px;
    }

    .aboutsect .spaceleftbox {
        padding-left: 70px;
    }

    .aboutsect {
        padding: 100px 0 140px;
    }

    // -
    .aboutsect.aboutsect_me {
        padding: 50px 0;
    }

    .aboutsect.aboutsect_me .description .star2 {
        right: 0;
        top: -20px;
    }
}

@media(max-width:1199.8px) {
    .aboutsect {
        padding: 70px 0 100px;
    }

    .acrcol {
        text-align: left;
    }

    // -
    .aboutsect.aboutsect_me .description .star2 {
        right: 0;
    }

    .aboutsect h2 {
        max-width: 100%;
        padding-right: 50px;
    }

    .aboutsect.aboutsect_me {
        padding: 50px 0 30px;
    }
}

@media(max-width:991.8px) {
    .aboutsect {
        padding: 70px 0 100px;
    }

    .aboutsect-radimgwrap {
        width: 270px;
        height: 370px;
    }

    .aboutsect-radimgwrap .imgwrap {
        width: 100%;
        margin-left: 10px;
        margin-top: -10px;

        img {
            vertical-align: top;
        }

    }

    .aboutsect .description .star2 {
        bottom: 40%;
    }

    .aboutsect-radimgwrap .circletext {
        width: 200px;
        right: -100px;
    }

    .transformation {
        min-height: 300px;
    }

    .labeltext {
        margin-bottom: 20px;
    }


}

@media(max-width:767.8px) {
    .transformation h3 {
        font-size: 26px;
    }

    .herosection {
        min-height: 220px;
    }

    .aboutsect-radimgwrap {
        width: 60%;
        height: 400px;
        margin-bottom: 70px;
    }

    .acrcol {
        text-align: center;
    }

    .aboutsect .description {
        padding-bottom: 0;
    }

    .aboutsect {
        padding: 70px 0;
    }

    .transformation__bg {
        object-position: 70% 50%;
    }

    .aboutsect-radimgwrap .imgwrap {
        height: 100%;
    }

    // -
    .aboutsect.aboutsect_me p {
        max-width: 100%;
    }

    .labeltext {
        height: 80px;
    }

    .transformation.transformation_me {
        h3 {
            text-align: center;
        }
    }

    .aboutsect .description .star1 {
        right: 0;
    }
}

@media(max-width:575.8px) {

    .herosection.herosection__you {
        img {
            object-position: 60% 50%;
        }
    }

    .herosection {
        min-height: 200px;
    }

    .aboutsect-radimgwrap {
        height: 300px;
    }

    .aboutsect-radimgwrap .circletext {
        width: 140px;
        right: -40px;
        bottom: -60px;
    }

    .aboutsect {
        padding: 60px 0 50px;
    }

    .aboutsect .description .star1 {
        width: 40px;
        right: 0;
        top: -25px;
    }

    .aboutsect .description .star2 {
        display: none;
    }

    .aboutsect .spaceleftbox {
        padding-left: 0;
    }

    .transformation {
        padding: 60px 0;
    }


    .transformation h2 {
        margin-bottom: 20px;
    }

    .aboutsect-radimgwrap {
        width: 100%;
        max-width: 300px;
    }

    .aboutsect-radimgwrap {
        height: 380px;
    }

    .aboutsect.aboutsect_me .description .star1 {
        top: -20px;
        right: 0;
        left: initial;
    }

   

}