.herosection {
    h1.white-color {
        color: #fff;
    }

    h1.text-left {
        text-align: left;
    }
}

.services-overview {
    padding: 90px 0 100px;
    position: relative;

    .labeltext {
        margin-bottom: 24px;
    }

    h2 {
        margin-bottom: 52px;
        text-align: center;
    }

    .star1 {
        position: absolute;
        left: 30%;
        top: 150px;
        animation: move 3s infinite;
        width: 40px;
        animation-delay: 0.5s;
    }

    .star2 {
        position: absolute;
        right: 30%;
        top: 240px;
        animation: move 3s infinite;
        width: 29px;
    }
}

.services-overview__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -25px;
    margin-right: -25px;
}

.services-overview__col {
    width: 100%;
    max-width: 20%;
    flex: 0 0 20%;
    padding: 0 25px;
}

.so-item {
    text-align: center;
    padding: 0 12px;

    img {
        height: 80px;
        margin-bottom: 24px;
    }

    h4 {
        font-size: 24px;
        line-height: 150%;
        font-family: 'Miller_Banner_Bold';
        font-weight: 700;
        color: #fff;
        margin-bottom: 8px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    p {
        margin: 0;
        color: #fff;
        font-size: 16px;
        line-height: 150%;
    }
}

.pricing-section {
    position: relative;
    overflow: hidden;
    padding: 100px 0;

    h2 {
        text-align: center;
        margin-bottom: 42px;
    }

    .container {
        position: relative;
        z-index: 1;
    }
}

.pricingrow {
    margin-left: -40px;
    margin-right: -40px;

    .col-md-4 {
        padding-left: 40px;
        padding-right: 40px;
    }
}

.pricing-section__bottomsect {
    text-align: center;
    margin-top: 40px;
}

.pricing-section__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 875px;
    object-fit: cover;
    object-position: 50% 50%;
    opacity: 0.1;
}

.herosection.herosection__servprices .cont-butterfly {
    width: 138px;
    height: auto;
    transform: rotate(-12deg);
    position: absolute;
    left: -50px;
    top: -85px;
}

.servpricing-box {
    background: #121212;
    border-radius: 20px;
    border: 1px solid #888888;
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }
}

.servpricing-box .imgwrap {
    width: 100%;
    max-width: 234px;
    flex: 0 0 234px;
    position: relative;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        border-radius: 15px 0 0 15px;
    }
}

.infowrap {
    width: 100%;
    max-width: calc(100% - 234px);
    flex: 0 0 calc(100% - 234px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px 32px 32px 40px;

    h3 {
        margin-bottom: 12px;
    }

    p {
        margin: 0;
        color: #888888;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

.infowrap__bott {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .time,
    .price {
        width: 100%;
        max-width: 50%;
        flex: 0 0 50%;
        margin: 0;
        color: #888888;
        font-size: 14px;
    }

    .time {
        position: relative;
        padding-left: 32px;

        img {
            width: 20px;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .price {
        text-align: right;

        b {
            color: #fff;
        }
    }
}

.pricing-section .pricing-section__bottomsect {
    margin-top: 50px;
}

.servpricing-box {
    min-height: 258px;
}

@media(max-width:1599.8px) {
    .so-item h4 {
        font-size: 21px;
    }

    .so-item img {
        margin-bottom: 15px;
    }
}

@media(max-width:1399.8px) {
    .so-item img {
        margin-bottom: 10px;
    }

    .so-item h4 {
        font-size: 20px;
    }

    .pricing-section {
        padding: 80px 0;
    }

    .pricing-section h2 {
        margin-bottom: 50px;
    }

    .infowrap__top h3 {
        font-size: 26px;
        margin-bottom: 8px;
    }

    .infowrap p br {
        display: none;
    }

    .infowrap {
        padding: 24px 24px 24px 30px;
    }

    .servpricing-box {
        min-height: 240px;
    }

}

@media(max-width:1199.8px) {
    .services-overview {
        padding: 70px 0;
        position: relative;
    }

    .services-overview .star2 {
        top: 200px;
        right: 20%;
    }

    .services-overview .star1 {
        left: 20%;
    }

    .so-item p {
        font-size: 14px;
    }

    .so-item h4 {
        font-size: 18px;
    }

    .so-item {
        padding: 0;
    }

    .services-overview__row {
        margin-left: -15px;
        margin-right: -15px;
    }

    .services-overview__col {
        padding-left: 15px;
        padding-right: 15px;
    }

    .pricingrow {
        margin-left: -15px;
        margin-right: -15px;

        .col-md-4 {
            padding-left: 15px;
            padding-right: 15px;
        }
    }



}

@media(max-width:991.8px) {
    .services-overview__row {
        justify-content: center;
    }

    .services-overview__col {
        max-width: 33.333%;
        flex: 0 0 33.333%;
        margin-bottom: 30px;
    }

    .so-item h4 {
        font-size: 21px;
    }

    .so-item img {
        height: 90px;
    }

    .infowrap {
        padding: 16px 16px 16px 20px;
    }

}

@media(max-width:767.8px) {
    .services-overview .star2 {
        right: 10%;
    }

    .services-overview .star1 {
        left: 10%;
    }

    .so-item h4 {
        font-size: 18px;
    }

    .so-item img {
        height: 80px;
    }

    .services-overview {
        padding: 70px 0 50px;
        position: relative;
    }

    .pricing-section {
        padding: 70px 0;
    }

    .pricing-section__bottomsect {
        margin-top: 0;
    }

    .pricing-section h2 {
        margin-bottom: 30px;
    }

    .servpricing-box .imgwrap {
        max-width: 160px;
        flex: 0 0 160px;
    }

    .infowrap {
        max-width: calc(100% - 160px);
        flex: 0 0 calc(100% - 160px);
    }

    .infowrap__top h3 {
        font-size: 21px;
    }

    .infowrap p {
        font-size: 14px;
    }

}

@media(max-width:575.8px) {
    .services-overview {
        padding: 50px 0 30px;
    }

    .services-overview .star1 {
        left: 10px;
        top: 100px;
    }

    .services-overview .star2 {
        right: 10px;
        top: 150px;
    }

    .services-overview__col {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .pricing-section {
        padding: 50px 0;
    }

    .herosection.herosection__servprices {
        .cont-butterfly {
            width: 120px;
            left: 0;
        }

        h1 {
            text-align: center;
        }
    }

    .servpricing-box .imgwrap,
    .infowrap {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .servpricing-box .imgwrap img {
        border-radius: 15px 15px 0 0;
    }

    .servpricing-box .imgwrap {
        height: 160px;
    }

    .infowrap {
        padding: 10px 8px;
    }

    .infowrap p {
        -webkit-line-clamp: initial;
    }

    .infowrap__bott {
        margin-top: 20px;
    }

    .pricing-section .pricing-section__bottomsect {
        margin-top: 30px;
    }

}